*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    place-items: center;
}

.font{
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

#button1{
    position: relative;
    border:none;
    padding: 1rem 2rem;
    background-color: #5B8FB9;
    color: white;
    box-shadow: 5px 5px 7px 0px #0000003f;
    z-index: 1;
}

#button1::before{
    content: "";
    background-color: #03001C;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0%;
    transition: width 0.3s ease-in-out;
    z-index: -1;
}

#button1:hover::before{
    width: 100%;
}

#button2{
    position: relative;
    border: none;
    padding: 1rem 4rem;
    background-color: #F7F5EB;
    z-index: 1;
    transition: all 0.6s ease-in-out;
    box-shadow: 3px 3px 5px 0px #0000003f;
}

#button2::before,#button2::after{
    content:"";
    position: absolute;
    border: 1px solid rgba(255, 0, 0, 0.545);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    z-index: -1;
    transition: all 0.6s ease-in-out;
}

#button2:hover::before{
    visibility: visible;
    transform: rotate(-0.10turn);
}
#button2:hover::after{
    visibility: visible;
    transform: rotate(0.10turn);
}
#button2:hover{
    background-color: transparent;
    box-shadow: none;
    transform: scale(1.2);
}











