@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Roboto&family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
    "head"
    "body";
    gap: 1rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding-bottom: 1rem;
    background-color: #EAE0DA;
    font-family: "Rubik",sans-serif;
}

h1{
    grid: head;
    text-shadow: 4px 4px 10px rgba(0 ,0 ,0 ,0.6);
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2.5rem;
}

.card-container{
    width: 100%;
    grid-area: body;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(200px,auto);
    gap: 1rem;
    justify-items: center;
    position: relative;
    max-width: 1200px;
}

.card{
    overflow: hidden;
    background-size: cover;
    filter: grayscale(100%);
    border-radius: 0.7rem;
    transition: all 0.3s ease-in-out;
}

.card img{
    width: 100%;
    height: 100%;
}

.card:hover{
    filter:none;
    z-index: 10;
    transform: scale(1.03);
    box-shadow: 3px 3px 5px #EAC7C7;
}

.card figcaption{
    position: absolute;
    width: 100%;
    bottom: 1rem;
    left: 1rem;
    opacity: 0;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
}

.card:hover figcaption{
    opacity: 1;
}





